/* 初始化 */
*{
	margin: 0;
	padding: 0;
	font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
}

a:-webkit-any-link{
	border: 0 none;
	text-decoration: none;
	color: #000;
}

a:hover{
	color: #31c27c;
}

.head{
	max-width: 1200px;
	margin: 0 auto;
}

.top_nav_item{
	list-style: none;
	display: block;
	padding: 0 20px;
	line-height: 90px;
	height: 90px;
	text-align: center;
	font-size: 18px;
	float: left;
}

.top_nav_link{
	list-style: none;
	display: block;
	padding: 0 20px;
	line-height: 90px;
	height: 90px;
	text-align: center;
	font-size: 18px;
	float: left;
	background-color: #31C27C;
}

.top_nav_link a{
	color: #fff;
}
.top_nav_link a:hover{
	color: #fff;
}

.headtitle{
	position: absolute;
	margin-left: 198px;
}

.login{
	position: absolute;
	top: 22px;
}

.MusicLogin{
	/* position: absolute; */
	float: left;
	width: 170px;
	height: 46px;
}

.mod_search_input{
	overflow:inherit;
	position: absolute;
	top:19px;
	height: 36px;
	width: 230px;
	right: 630px;
	display: block;
	margin-top: 9px;
	border: #ccc solid 1px;
	border-radius: 3px;
}

.search_input_input{
	width: 180px;
	line-height: 36px;
	font-size: 14px;
	border: none;
	outline: none;
	padding-left: 10px;
	float: left;
}

.search_input_btn{
	border: none;
	outline: none;
	width: 38px;
	height: 35px;
	border: 0;
	background-color:#fff;
	position: relative;
}

.icon_search_sprite{
	position: absolute;
	align:center;
	width: 16px;
	height: 16px;
	background: url(../img/icon_sprite.png) no-repeat center;
	background-position: 0 -40px;
	top: 10px;
	left: 10px;
}

.user_login{
	position: relative;
	float: left;
	font-size: 18px;
	width: 40px;
	height: 20px;
	float: right;
	margin-top: 35px;
	left:-215px;
}

.openmusic{
	text-align: auto;
	top: 26px;
	margin-top: 500px;
	right: -100px;
	border-radius: 3px;
	padding: 10px 13px;
	border: #ccc solid 1px;
	margin: 0px 5px;
	position: relative;
	float: right;
}

.openvip:-webkit-any-link{
	text-align: auto;
	top: 26px;
	margin-top: 500px;
	right: -100px;
	border-radius: 3px;
	padding: 10px 13px;
	border: #ccc solid 1px;
	margin: 0px 5px;
	position: relative;
	float: right;
	border: #31C27C solid 1px;
	background-color: #31C27C;
	color: #FFFFFF;
}

.openvip:hover{
	color: #FFFFFF;
}

.mod_top_subnav  li {
	float: left;
	font-size: 15px;
	margin-right: 47px;
	list-style: none;
	display: list-item;
	text-align: -webkit-match-parent;
}

.mod_top_subnav{
	height: 51px;
	line-height: 51px;
	border-top: 1px solid #f2f2f2;
	padding:0px 245px;
	margin-right: -100px;
	position: absolute;
	top: 90px;
}

.mod_top_subnav_top{
	color: #31C27C;
}

.mod_top_subnav  li:hover{
	color: #31C27C;
}

/* .head{
	background: #FFFFFF;
	height: 140px;
	border: 1px solid red;
} */

.body{
	border: 1px solid red;
	position: absolute;
	margin-top: 150px;
	width: 99.92%;
	 background-image: linear-gradient(to bottom , #f1f1f1, #fff);
}

.slide_action{
	border: #31C27C solid 1px;
	width: 99.92%;
	height: 510px;
}
.slide_action-left{
	float: left;
}
.slide_action-right{
	float: right;
}

#right_div{
	width: 78px;
	height: 108px;
	border: #000000 solid 1px;
	float: right;
	position: relative;
	top: 50%;
}
#left_div{
	width: 78px;
	height: 108px;
	border: #000000 solid 1px;
	float: left;
	position: relative;
	top: 50%;
	opacity: 1;
}

